@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%) );
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 900px;
    height: 500px;
    border-radius: 8px;
    position: relative;
}

.container .img img{
    position: absolute;
    left: 0;
    top: 2.5em;
    
 }
.container .title{
    position: absolute;
    top: 70px;
    font-weight: 700;
    font-size: 24px;
    right: 320px;
}

.container .accordions{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 150px;
}

.container .accordions .accordion{
    display: flex;
    flex-direction: column;

}

.container .accordions .accordion .accordion-head{
    display: flex;
    flex-direction: row;
}

.container .accordions .accordion .accordion-head .question{
    margin-right: 25px;
}

.container .accordions .accordion .accordion-head .btn::before {
    
}

.container .accordions .accordion .accordion-content{
    display: flex;
    max-width: 20em;
    margin-top: 1em;
    opacity: 0.5;
}

